<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.miura.domain.repository.mybatis.UserMapper">
	<insert id="insert" parameterType="User">
		INSERT INTO m_user(
			user_id,
			password,
			user_name,
			role
		)
		VALUES(
			#{userId},
			#{password},
			#{userName},
			#{role}
		)
	</insert>

	<select id="selectOne" parameterType="string" resultType="User">
		SELECT
			user_id,
			password,
			user_name,
			role
		FROM
			m_user
		WHERE
			user_id = #{userId}
	</select>

	<update id="updateOne" parameterType="User">
		UPDATE
			m_user
		SET
			password = #{password},
			user_name = #{userName},
			role = #{role}
		WHERE
			user_id = #{userId}
	</update>

	<delete id="deleteOne" parameterType="string">
		DELETE FROM
			m_user
		WHERE
			user_id = #{userId}
	</delete>

	<select id="selectAll" resultType="User">
		SELECT
			user_id,
			password,
			user_name,
			role
		FROM
			m_user
	</select>

</mapper>